/* start main rules */
html{
    --main-font: 'Segoe UI', Tahoma, Verdana, sans-serif;
    --main-color: #ffc107;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
::-webkit-scrollbar-track {
    background-color: #ccc;
}
/* end main rules */
/* ********************************************************/
/* start body */
body{
  background-color: #111;
}
.sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 100000;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #222;
    display: flex;
}
.sidebar .leftSide{
  width: 80%;
}
.sidebar .rightSide{
  width: 20%;
  background-color: #fff;
}
.sidebar i{
  cursor: pointer;
  transition: all 0.5s;
}
.sidebar i:hover{
  color: var(--main-color);
}
.sidebar .leftSide .links ul{
  list-style: none;
  padding: 0;
}
.sidebar .leftSide .links .nav-link{
  font-size: 16px;
  padding: 8px 0;
  cursor: pointer;
  position: relative;
  top: 300px;
}
.sidebar .leftSide .links .nav-link {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}
.sidebar .leftSide .links .nav-link:hover{
  color: var(--main-color);
}
.sidebar .leftSide .social p{
  font-size: 12px;
  padding-top: 2px;
}
.landing{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #222;
    z-index: 10000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
/* end body */
/* ********************************************************/
/* start home */
.image img{
  cursor: pointer;
}
.layer{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #222;
  position: absolute;
  top: 105%;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}
.image:hover .layer{
  top: 0;
}
/* end home */
/* ********************************************************/
/* start Categories */
.Categories .image .layer p{
  font-size: 13px;
}
/* end Categories */
/* ********************************************************/
/* start details */
.dateils i{
  cursor: pointer;
  width: 4%;
  transition: all 0.5s;
}
.dateils i:hover{
  color: var(--main-color) !important;
}
.dateils p{
  font-size: 15px;
}
/* end details */
/* ********************************************************/
/* srat area */
.Area-Meals .Area ,.ingredients-Meals .Ingredients{
  cursor: pointer;
  transition: all 0.5s;
}
.Area-Meals .Area:hover,.ingredients-Meals .Ingredients:hover{
  color: var(--main-color);
}
/* end area */
/* ********************************************************/